APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret
AUTH0_SECRET=your_auth0_secret_random_string


MONGO_CONNECTION_URL=mongodb+srv://yourusername:yourpassword@yourcluster.mongodb.net/?appName=YourAppName
